@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.mdi {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.analiz__breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.analiz__breadcrumb {
    margin-bottom: 30px;
}

.analiz__breadcrumb li {
    margin-right: 5px;
}

.analiz__breadcrumb a,
.analiz__breadcrumb span {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
}

.analiz__breadcrumb img {
    margin-left: 8px;
}

.analiz__top-wrap {}

.analiz__item {
    display: flex;
    height: 107px;
    align-items: center;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
    padding: 0 10px;
    margin-bottom: 30px;
}

.analiz__left {
    flex: 1;
}

.analiz__text1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 5px;
}

.analiz__text2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #7379F8;
}

.jqstooltip {
    width: auto !important;
    height: auto !important;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #ffffff !important;
    padding: 5px 10px !important;
    border-radius: 3px;
    border-color: #ffffff !important;
    display: inline-block !important;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
}

.jqsfield {
    color: #000!important;
}

.info__tovar {
    padding-top: 20px;
    padding-bottom: 50px;
}

.info__tovar table {
    margin-bottom: 45px;
}

.info__tovar h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 42px;
}

.info__tovar__wrap {
    display: flex;
}

.info__tovar__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 25px;
}

.info__tovar__row {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    span {
        font-weight: 500;
        padding-right: 20px;
    }
    td {
        padding: 10px 0;
    }
}

.tovar__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tovar__cart img {
    width: 406px;
    margin-bottom: 52px;
    display: block;
    max-width: 100%;
}

.ne-tot>div {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 21px;
}

.ne-tot button {
    height: 45px;
}

.tovar__table1 {
    margin-bottom: 81px;
}

@media(max-width: 574px) {
    .info__tovar__row {
        font-size: 14px;
        span {
            font-size: 16px;
        }
    }
    .info__tovar h2 {
        margin-bottom: 30px;
    }
    .ne-tot>div {
        text-align: center;
    }
    .ne-tot button {
        height: auto;
        font-size: 14px;
        padding: 11px 25px;
    }
}

.tovar__svodka {
    display: flex;
    margin-bottom: 68px;
}

@media(max-width: 767px) {
    .tovar__svodka {
        margin-bottom: 25px;
    }
}

.tovar__svodka__left {
    flex: 0 0 200px;
}

.tovar__svodka__l-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 52px;
}

.tovar__svodka__l-item>div {
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    color: #7379F8;
    margin-bottom: 12px;
}

.tovar__svodka__mid {
    flex: 1;
}

.tovar__svodka__right {
    flex: 0 0 363px;
}

.tovar__svodka__right ul {
    padding: 15px 45px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
}

.tovar__svodka__right ul li {
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;
    padding: 20px 10px;
    border-bottom: 1px solid #E2EAF4;
    border-top: 1px solid #E2EAF4;
}

.tovar__svodka__right ul li:last-child {
    border-bottom: 0;
}

.tovar__svodka__right ul li:first-child {
    border-top: 0;
}

.tovar__svodka__mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.tovar__svodka__mid1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 130.4%;
    /* or 52px */
    letter-spacing: 0.005em;
    color: #000000;
}

.tovar__svodka__mid2 {
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.tovar__svodka__mid__wrap {
    max-width: 340px;
}

@media(max-width: 1000px) {
    .tovar__svodka {
        flex-wrap: wrap;
    }
    .tovar__svodka__right {
        width: 100%;
        flex: auto;
        display: flex;
        margin-bottom: 20px;
    }
}

@media(max-width: 579px) {
    .tovar__table1 {
        margin-bottom: 32px;
    }
    .tovar__svodka__mid {
        width: 100%;
        flex: 0 0 100%;
        padding-top: 0;
        margin-bottom: 25px;
        align-items: flex-start;
    }
    .tovar__svodka__l-item {
        margin-bottom: 21px;
        align-items: center;
    }
    .tovar__svodka__left {
        flex: 0 0 100%;
    }
    .tovar__svodka__l-item>div {
        flex: 0 0 140px;
        font-size: 25px;
        line-height: 30px;
        color: #7379F8;
        margin-bottom: 0;
    }
}

@media(max-width: 424px) {
    .tovar__svodka__l-item {
        display: flex;
    }
    .tovar__svodka__mid1 {
        font-weight: 600;
        font-size: 30px;
        line-height: 130.4%;
        /* or 39px */
        letter-spacing: 0.005em;
        color: #000000;
    }
    .tovar__svodka__right ul {
        padding: 15px 8px;
    }
}

.tovar__stat {
    margin-bottom: 80px;
}

@media(max-width: 767px) {
    .tovar__stat {
        margin-bottom: 25px;
    }
}

.tovar__stat__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tovar__stat__top input {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #252525;
}

.free__times {
    display: flex;
    margin: 0 -15px;
    button {
        font-weight: 500;
        font-size: 16px;
        line-height: 140.19%;
        /* or 22px */
        color: #C1C1C1;
        border: 0;
        padding: 5px;
        margin: 0 15px;
        background-color: transparent;
    }
    button.active {
        color: #FF7B1B;
    }
    button:hover {
        color: #FF7B1B;
    }
}

@media(max-width: 767px) {
    .tovar__stat__top {
        flex-direction: column;
    }
    .free__times {
        margin-bottom: 25px;
    }
}

.tovar__sklad {
    margin-top: 81px;
}

@media(max-width: 767px) {
    .tovar__sklad {
        margin-top: 25px;
    }
}

.tovar__sklad__wrap {
    display: flex;
}

.tovar__sklad__left {
    width: 50%;
    padding-right: 50px;
}

.tovar__sklad__right {
    width: 50%;
    padding-left: 50px;
}

.pie-chart {
    .apexcharts-legend-marker:after {
        display: none;
    }
    foreignObject {
        overflow: visible;
    }
    svg {
        overflow: visible;
        width: 500px;
    }
    .apexcharts-legend.position-bottom.apexcharts-align-center,
    .apexcharts-legend.position-top.apexcharts-align-center {
        justify-content: flex-start;
        width: 500px;
    }
}

.tovar__sklad .tab {
    max-width: initial;
    min-width: initial;
    padding-left: 10px;
    padding-right: 10px;
    width: 50%;
}

.tovar__sklad .free__times {
    margin-bottom: 18px;
}

.tovar__sklad .tabs__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.tovar__sklad .table-responsive {
    max-width: 100%;
    width: 432px;
}

.tablesorter-header-inner {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.tablesorter-header-inner:after {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    background-image: url('../img/analiz/tsort.svg');
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    opacity: 0;
}

.tablesorter-headerAsc .tablesorter-header-inner:after {
    opacity: 1;
}

.tablesorter-headerDesc .tablesorter-header-inner:after {
    opacity: 1;
    transform: rotateX(180deg);
}

@media(max-width: 1024px) {
    .tovar__sklad__wrap {
        flex-direction: column;
    }
    .tovar__sklad__left,
    .tovar__sklad__right {
        width: 100%;
        padding: 0;
        margin-bottom: 25px;
    }
}

@media(max-width: 600px) {
    .pie-chart {
        .apexcharts-legend.position-bottom.apexcharts-align-center,
        .apexcharts-legend.position-top.apexcharts-align-center {
            justify-content: center;
            width: 100%;
            inset: auto 0 0 0!important;
        }
        svg {
            width: 100%;
        }
    }
}

.product-table-icons {
    color: #506ee4;
}

.add-group-wrap {
    display: flex;
    flex-wrap: wrap;
}

.add-group-wrap span {
    display: flex;
    height: 35px;
    align-items: center;
    justify-content: space-between;
    background: #7379F8;
    border: 1px solid #7379F8;
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FFFFFF;
    padding: 0 11px;
    padding-right: 0;
    margin-right: 17px;
    margin-bottom: 10px;
    button {
        background-color: transparent;
        padding: 5px;
        border: 0;
    }
}

.btn-group-add {
    margin-bottom: 10px;
    height: 35px;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #FFFFFF;
    background: #0CACAE;
    border-radius: 5px;
    padding: 0 18px;
    transition: 0.3s all;
}

.btn-group-add:hover {
    background: #0b9799;
}

.breadcrumb-change-categori {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    button {
        background-color: transparent;
        margin-left: 5px;
    }
}

.breadcrumb-change-categori__wrap {
    display: none;
    position: absolute;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
    right: 15px;
    transform: translateX(100%);
    top: 100%;
    background-color: #fff;
    padding: 17px 15px;
    ul {
        flex-direction: column;
        align-items: flex-start;
    }
    li {
        margin-bottom: 10px;
    }
    li a {
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        letter-spacing: 0.02em;
        color: #252525;
        cursor: pointer;
    }
    li:last-child {
        margin-bottom: 0;
    }
    li a:hover {
        color: var(--orang);
    }
}

.breadcrumb-change-categori.active .breadcrumb-change-categori__wrap {
    display: block;
}

.categori__radios {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.categori__radios-item {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    margin-right: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}

.categori__radios-item input {
    display: none;
}

.categori__radios-item input+span {
    border: 1px solid #000000;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
}

.categori__radios-item input+span::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: block;
    background: #FF87B9;
}

.categori__radios-item input:checked+span::before {
    background: #6484F3;
}

.categori__tabs.tabs {
    margin-top: 30px;
}

.categori__tabs__wrap {
    overflow: auto;
    padding-bottom: 10px;
}

.categori__tabs.tabs .tab {
    width: auto;
    min-width: max-content;
    max-width: initial;
    padding: 13px 13px;
    font-size: 16px;
}

.categori__tabs .tabs__content {
    padding-top: 38px;
    padding-bottom: 57px;
}

.categori__tabs .tabs__content .row:last-child {
    padding-top: 0;
    padding-bottom: 0;
}

.range__slider {
    width: 100%;
    position: relative;
    height: 11px;
    .ui-widget.ui-widget-content {
        width: 100%;
        background: #FFFFFF;
        border: 0.975124px solid #E2EAF4;
        box-shadow: none;
        border-radius: 0;
    }
    .ui-slider-horizontal .ui-slider-range {
        background: #7379F8;
    }
    .ui-state-default,
    .ui-widget-content .ui-state-default {
        width: 11px;
        background: #E2EAF4;
        border: 1px solid #7379F8;
        cursor: grab;
    }
}

.range__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #2F2F2F;
    input {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        color: #2F2F2F;
        border: 0;
    }
}

.btn-blue {
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #7EBCFF;
    border: 1px solid #7EBCFF;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 9px 11px;
    transition: 0.3s all;
}

.btn-blue.dark {
    color: #7379F8;
    border: 1px solid #7379F8;
}

.btn-blue:hover {
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
}

.grafic__range {
    display: flex;
    align-items: center;
    margin-top: 22px;
}

.budgets_chart__wrap {
    overflow: auto;
}

@media(max-width: 767px) {
    .grafic__range {
        flex-direction: column;
        align-items: flex-start;
    }
    .range__text {
        margin-bottom: 15px;
    }
    .categori__tabs .tabs__content {
        padding-top: 15px;
    }
}

.dif-table__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17px;
    input {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        color: #2F2F2F;
        cursor: pointer;
    }
}

@media(max-width: 767px) {
    .dif-table__top {
        flex-direction: column;
        align-items: flex-start;
        input {
            margin-bottom: 15px;
        }
    }
}

.grafic-2 .pie-chart {
    margin-bottom: 35px;
}