.izb {
    margin-top: 35px;
}

input[type="date"] {
    position: relative;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #252525;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.dif-table__top input {
    width: 180px;
}

.btn-dblue {
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #535AFB;
    padding: 9px 12px;
    border: 1px solid #535AFB;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    transition: 0.3s all;
}

.btn-red {
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #FF6C6C;
    padding: 9px 12px;
    border: 1px solid #FF6C6C;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    transition: 0.3s all;
}

.crate__group {
    margin-bottom: 30px;
}

.btn-red:hover,
.btn-dblue:hover {
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
}

.izb .tabs__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.izb-text {
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.izb-text a:hover {
    color: #535afb;
    text-decoration: underline;
}

.izb__table {
    text-align: center;
    .tablesorter-header-inner {
        text-align: center;
        justify-content: center;
    }
    .izb__action .tablesorter-header-inner {
        justify-content: flex-start;
    }
    .izb__action-wrap {
        display: flex;
        justify-content: flex-start;
    }
    .izb__action-wrap button {
        margin-right: 12px;
    }
}

.izb-table2 {
    margin-bottom: 50px;
    td {
        text-align: center;
    }
    .tablesorter-header-inner {
        text-align: center;
        justify-content: center;
    }
    th:first-child .tablesorter-header-inner {
        justify-content: flex-start;
    }
}

.izb-table2 td:first-child {
    text-align: left;
}

.izb3__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .top-table-active {
        margin: 0;
        margin-left: 15px;
    }
}

.izb3__wrap1 {
    margin-top: -65px;
    margin-bottom: 34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    label {
        input {
            display: none;
        }
        width: 176px;
        border-radius: 57px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        height: 33px;
        border: 1px solid #535AFB;
        margin-right: 41px;
        cursor: pointer;
    }
    .big-checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 28px;
    }
    input+.big-checkbox:before {
        width: 88px;
        height: 33px;
        content: "";
        display: block;
        position: absolute;
        left: 0;
        background: #535AFB;
        border-radius: 57px;
        top: -1px;
        z-index: -1;
        transition: 0.3s all;
    }
    input+.big-checkbox span {
        transition: 0.3s all;
    }
    input+.big-checkbox span:first-child {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #FFFFFF;
    }
    input:checked+.big-checkbox span:first-child {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #BEBEBE;
    }
    input+.big-checkbox span:last-child {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #BEBEBE;
    }
    input:checked+.big-checkbox span:last-child {
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #FFFFFF;
    }
    input:checked+.big-checkbox:before {
        left: 87px;
    }
}

.izb3__wrap2 {
    margin-bottom: 30px;
}

@media(max-width: 767px) {
    .izb3__wrap1 {
        margin-top: 0;
        justify-content: space-between;
    }
    .izb3__wrap1 button {
        font-size: 12px;
        padding: 7px 9px;
    }
    .izb3__wrap1 label {
        margin-right: 5px;
        width: 155px;
    }
    .izb3__wrap2 {
        margin-bottom: 0;
    }
    .izb3__wrap1 input:checked+.big-checkbox:before {
        left: 66px;
    }
}

.izb__wrap3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -65px;
    .btn-dblue {
        margin-right: 17px;
    }
    input {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        color: #2F2F2F;
    }
}

@media(max-width: 767px) {
    .tovar__stat__top2 {
        flex-direction: row-reverse;
    }
    .izb__wrap3 {
        margin-top: 0;
        flex-wrap: wrap;
        justify-content: flex-start;
        .btn-dblue {
            margin-bottom: 0px;
            margin-right: 10px;
        }
        input {
            width: 160px;
            margin-bottom: 0px;
            font-size: 14px;
        }
    }
}

@media(max-width: 374px) {
    .izb__wrap3 .btn-dblue {
        font-size: 12px;
        padding: 7px 9px;
    }
}