.breadcrumb {
    margin-bottom: 42px;
}

.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    font-weight: 500;
}

.breadcrumb ul li {
    margin-right: 4px;
    margin-bottom: 5px;
}

.breadcrumb ul a {
    color: #A2A2A2;
    transition: 0.3s all;
    font-weight: 400;
}

.breadcrumb ul a:hover {
    color: #000;
}

.lk__caption__wrap {
    overflow: auto;
    width: 100%;
}

.tabs.lk-tabs .tab {
    width: auto;
    padding: 13px 20px;
    white-space: nowrap;
    max-width: initial;
    min-width: initial;
}

.tabs.lk-tabs .tabs__caption {
    width: auto;
    overflow: visible;
}

.lk .tabs__content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.lk h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #2F2F2F;
    margin-bottom: 20px;
}

.lk-form {
    margin-bottom: 50px;
    .form-label {
        font-weight: 500;
        font-size: 16px;
        line-height: 170%;
        /* or 27px */
        letter-spacing: 0.05em;
        color: #000000;
    }
    .row {
        padding-top: 0;
        padding-bottom: 0;
        border: 0;
    }
    .input {
        height: 55px;
        margin-bottom: 20px;
    }
    .btn-or {
        width: 249px;
        height: 55px;
    }
    .selectric .button {
        background-image: url('../img/lk/polygon.svg');
    }
    .btn-center {
        width: 368px;
        max-width: 100%;
        margin: 0 auto;
        display: block;
    }
}

.tarif__item {
    padding: 40px 25px 32px 25px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
    .plan1__block3 span {
        font-size: 32px;
        margin-right: 9px;
        line-height: 1;
        display: inline-block;
    }
    .plan1__block3 span:after {
        font-size: 11px;
        top: 0;
        right: -12px;
    }
    .plan1__block3 {
        font-size: 11px;
        line-height: 1;
    }
}

@media(max-width: 767px) {
    .tarif__item {
        padding: 25px 15px;
    }
    .lk-form .textarea {
        height: 200px;
    }
}

.tafif__item__h svg {
    margin-top: 16px;
    max-width: 100%;
}

.card-payment-option {
    font-size: 14px;
}

.tarif__item__name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #252525;
    margin-bottom: 15px;
}

.tarif__item__b {
    padding-top: 16px;
    padding-bottom: 26px;
}

.tarif__list__item {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 14px;
    svg {
        flex: 0 0 20px;
        margin-right: 10px;
    }
}

.tarif__item .btn-bo {
    width: 100%;
    height: 40px;
}

.lk-tarifi__wrap {
    display: flex;
    .tarif__item {
        max-width: 380px;
        margin-bottom: 40px;
    }
}

.card-title-lk {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
}

.card .text-primary {
    font-size: 12px;
}

.card .text-primary:hover {
    text-decoration: underline;
}

.card .text-muted {
    font-size: 14px;
}

.card-body {
    padding: 28px 24px;
}

.card {
    margin-bottom: 25px;
    .card-payment-btn {
        border: 1px solid #7EBCFF;
        border-radius: 5px;
        padding: 9px 16px;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #7EBCFF;
        background-color: transparent;
        transition: 0.3s all;
    }
    .card-payment-btn:hover {
        box-shadow: 0 0 5px rgba($color: #7EBCFF, $alpha: 0.5);
    }
}

.payment-bottom {
    display: flex;
    margin-bottom: 22px;
    img {
        margin-right: 22px;
    }
}

.badge {
    border-radius: 10px;
    width: 129px;
    height: 30px;
    line-height: 21px;
    font-weight: 500;
    font-size: 12px;
    /* identical to box height */
    letter-spacing: 0.02em;
}

.badge.badge-soft-success {
    background: #2DDAB5;
}

.badge.badge-soft-danger {
    background: #EF4D56;
}

.thead-light th {
    background: #F1F5FA;
}

.table>:not(caption)>*>* {
    padding: 15px;
}

table.table-bordered.dataTable td {
    border: 1px solid #E2EAF4;
    border-left-width: 1px;
    border-right-width: 1px;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #252525;
}

table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px;
}

table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
}

table.dataTable {
    border-collapse: collapse!important;
}

.dash-social {
    .dataTables_length {
        display: none;
    }
    .dataTables_filter {
        display: none;
    }
    div.dataTables_wrapper div.dataTables_info {
        display: none;
    }
    .dataTables_paginate {
        display: none;
    }
}

div.table-responsive>div.dataTables_wrapper>div.row {
    padding: 0;
    margin: 0;
    border-bottom: 0;
}

.plan1__block4 {
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #000000;
    margin-top: 10px;
    text-align: center;
    a {
        color: #7379F8;
        transition: 0.3s all;
    }
    a:hover {
        text-decoration: underline;
    }
}