.top__col {
    padding: 18px 25px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 30px;
}

.top__col__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    color: #000000;
    margin-bottom: 16px;
}

.top__checkbox__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #252525;
    margin-bottom: 10px;
}

.top__checkbox__wrap {
    display: flex;
    flex-wrap: wrap;
    label {
        width: calc(100% / 4);
        padding: 5px 0;
        padding-right: 5px;
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        letter-spacing: 0.02em;
        color: #252525;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    label input {
        display: none;
    }
    label input+span {
        border: 1px solid #FF7B1B;
        border-radius: 3px;
        display: block;
        width: 13px;
        min-width: 13px;
        height: 13px;
        margin-right: 4px;
        background-position: center;
        background-repeat: no-repeat;
    }
    label input:checked+span {
        background-image: url("../img/top/checked.svg");
    }
}

.top__col__bot {
    display: flex;
    margin-top: 10px;
    .top__checkbox {
        width: 145px;
    }
    .top__checkbox__wrap label {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .top__checkbox__wrap label {
        width: calc(100% / 3);
    }
    .top__col {
        padding: 15px;
    }
}

@media(max-width: 575px) {
    .top__checkbox__wrap label {
        width: calc(100% / 2);
    }
    .top__col__bot .top__checkbox {
        width: 50%;
    }
}

.range__row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.range__row__label {
    flex: 0 0 85px;
    padding-right: 15px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #252525;
}

.irs-grid-pol {
    opacity: 0;
}

.irs-grid-text {
    bottom: 5px;
}

.js-range-slider__wrap {
    flex: 1;
}

.irs--flat .irs-bar {
    background: #7379F8;
}

.irs--flat .irs-handle>i:first-child {
    background-color: #7379F8;
}

.irs--flat .irs-single {
    background-color: #7379F8;
}

.irs--flat .irs-single:before {
    border-top-color: #7379F8;
}

.irs--flat .irs-handle:hover>i:first-child {
    cursor: grab;
    background-color: #3d46f5;
}

.irs {
    font-family: var(--main-font);
}

.irs--flat .irs-min,
.irs--flat .irs-max {
    background: #F1F5FA;
    border-radius: 5px;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #393939;
}

.irs-single {
    cursor: grab;
}

.irs--flat .irs-handle i:first-child {
    background-color: #3d46f5!important;
}

.irs-grid {
    left: 0!important;
    width: 100%!important;
}

.irs-grid-text.js-grid-text-0 {
    margin-left: 0!important;
}

.irs-grid-text:last-child {
    transform: translateX(-50%);
}

@media(max-width: 767px) {
    .range__row {
        flex-direction: column;
        align-items: flex-start;
    }
    .range__row__label {
        flex: auto;
        margin-bottom: 15px;
        br {
            display: none;
        }
    }
    .js-range-slider__wrap {
        flex: auto;
        width: 100%;
    }
}

.top-approve {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    button {
        padding: 13px 49px;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height */
        color: #FFFFFF;
    }
}

.top-page .tabs__content {
    padding-top: 20px;
    padding-bottom: 50px;
}

.top-table td {
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #252525;
}

.top-table .t-cat {
    display: flex;
    max-width: 280px;
    min-width: 200px;
    align-items: flex-start;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #252525;
    img {
        margin-right: 9px;
    }
}

.top-table__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .free__times {
        padding-bottom: 10px;
    }
}

.top-table .tablesorter-header-inner {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: 0.02em;
    color: #252525;
    white-space: nowrap;
}

.top-table .tablesorter-header-inner:after {
    display: none;
}

.top-table .sort {
    display: block;
    margin-left: 3px;
    width: 12px;
    height: 12px;
    background-image: url('../img/top/sort.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 2px;
    cursor: pointer;
}

.top-table .info {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;
    transform: translate(50%, -50%);
    background-image: url('../img/top/info.svg');
    cursor: pointer;
}

.top-table .info:hover .myTooltip {
    display: block;
}

.top-table .header,
.top-table .tablesorter-header {
    padding: 15px 13px;
}

.top-table {
    .tablesorter-header.tablesorter-headerAsc .sort {
        background-image: url('../img/top/sort-asc.svg');
    }
    .tablesorter-header.tablesorter-headerDesc .sort {
        background-image: url('../img/top/sort-desc.svg');
    }
}

.top-table.table>:not(caption)>*>* {
    padding: 13px 10px;
}

.top-table tr:nth-child(2n) td {
    background: #F8F8F8;
}

.tablesorter-header {
    cursor: pointer;
}

.top-table-active {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
}

.top-table-active:hover .myTooltip {
    display: block;
}

.top-table-active.del {
    background-image: url('../img/top/del.svg');
}

.top-table-active.add {
    background-image: url('../img/top/add.svg');
}

.top-table-active.in {
    background-image: url('../img/top/in.svg');
}

.myTooltip {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.02em;
    color: #252525;
    max-width: 170px;
    width: max-content;
    padding: 8px 5px;
    display: none;
    white-space: pre-wrap;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #252525;
    font-weight: 400;
    z-index: 5;
}

.myTooltip.left {
    left: -5px;
    top: 50%;
    transform: translate(-100%, -50%);
}

.myTooltip.top {
    top: -5px;
    left: 50%;
    transform: translate(-50%, -100%);
}

.myTooltip:after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    position: absolute;
    background-color: #fff;
}

.myTooltip.left:after {
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) rotate(45deg);
}

.myTooltip.top:after {
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%) rotate(45deg);
}

@media(max-width: 1050px) {
    .top-table__wrap {
        overflow: auto;
        .myTooltip.top:after {
            bottom: auto;
            top: 0;
            right: 50%;
            transform: translate(50%, -50%) rotate(45deg);
        }
        .myTooltip.top {
            top: auto;
            bottom: -5px;
            left: 50%;
            transform: translate(-50%, 100%);
        }
    }
    .top-table__flex {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        .free__times {
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .categori__tabs__wrap {
            margin-bottom: 15px;
            width: 100%;
        }
    }
}